@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        video,
        iframe {
            width: 100% !important;
            height: 70% !important;
        }

        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #3a99cf;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #58cbe7;
        }
    </style>
</head>
<body>
    <div id="" class="container.fluid text-center bg-grey">
        <!-- objetivo, float leaft con texto de contancto-->
        <div class="row text-center">
            <div class="col-sm  border border-light">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="australia">Chile</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                        <option value="other">other</option>
                    </select>

                    <label for="subject">tell us your problem!</label>
                    <textarea id="subject" name="subject" placeholder="Write here pls..."
                              style="height:200px"></textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
            <!-- objetivo, float right con video promocional -->
            <!-- alabado sea el API de youtube/google -->
            <div class="col-sm  border border-light">
                <br>
                <h4>
                    promotional video: saga jihen de hololive;
                    by: Hoshimachi Suisei
                </h4>
                <br>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/-wNSFmqhQsU?autoplay=1">
                </iframe>
                <p style="float: right;"><a href="https://www.youtube.com/channel/UC5CwaMl1eIgY8h02uZw7u8A">channel here!</a></p>
            </div>
        </div>

    </div>
    <br>
</body>
